#body {
    color: #EEEEEE;
    background-color: #16558C;
}

.navbar {
    background-color: #F28D35;
    padding-left: 18pc;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar-nav,
.nav-item {
    column-gap: 10pc;
    margin-left: 2pc;
}

.nav-link {
    border: 200px #030A8C !important;
    background-color: #030A8C;
    border-radius: 50px;
}

nav .navbar-nav li a {
    color: #EEEEEE !important;
}

#navbarNavAltMarkup>ul>li>a:hover {
    color: #F28D35 !important;
}

.radioprescc {
    border: 90px #F28D35;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin: 40px;
    background-color: #F28D35;
}

.imputcc {
    border: 40px #F28D35;
    border-radius: 15px;
    margin-bottom: 4pc;
    margin: 40px;
    background-color: #F28D35;
}

#formb {
    margin-top: 4pc;
    margin-left: 2pc;
    margin-right: 2pc;
}

#form1 {
    margin-top: 4pc;
    margin-left: 2pc;
    margin-right: 2pc;
}

#presr {
    margin-top: 6pc;
}

#sectitle {
    border: 3px solid #F28D35;
    margin-right: 70%;
    padding: 15px 100px;
    border-radius: 15px;
    background: #F28D35;
}

.table-cursos {
    margin: 4pc;
    background-color: #F28D35;
    border: 16px;
    border-radius: 16px;
}

footer {
    margin-top: 15pc;
}

button .footer-menu {
    color: #DDDDDD;
    background-color: #F28D35;
}

.footer-content {
    background-color: #030A8C;
}