#body {
    color: #DDDDDD;
    background-color: #16558C;
}

.navbar {
    background-color: #F28D35;
}

.navbar-nav,
.nav-item {
    color: #DDDDDD;
    background-color: #030A8C;
}

#form1 {
    margin-top: 4pc;
    margin-left: 2pc;
    margin-right: 2pc;
}

footer {
    margin-top: 15pc;
}

.footer-menu {
    color: #DDDDDD;
    background-color: #F28D35;
}

.footer-content {
    background-color: #030A8C;
}